# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
Example/Podfile.lock
Example/Pods/Manifest.lock
Example/Pods/Local Podspecs/RecorderFramework.podspec.json
Example/Pods/Pods.xcodeproj/project.pbxproj
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Info.plist
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-acknowledgements.plist
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-dummy.m
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-frameworks.sh
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-resources.sh
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example-umbrella.h
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example.debug.xcconfig
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example.modulemap
Example/Pods/Target Support Files/Pods-RecorderFramework_Example/Pods-RecorderFramework_Example.release.xcconfig
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Info.plist
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-dummy.m
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-frameworks.sh
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-resources.sh
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests.modulemap
Example/Pods/Target Support Files/Pods-RecorderFramework_Tests/Pods-RecorderFramework_Tests.release.xcconfig
Example/Pods/Target Support Files/RecorderFramework/Info.plist
Example/Pods/Target Support Files/RecorderFramework/RecorderFramework-dummy.m
Example/Pods/Target Support Files/RecorderFramework/RecorderFramework-prefix.pch
Example/Pods/Target Support Files/RecorderFramework/RecorderFramework-umbrella.h
Example/Pods/Target Support Files/RecorderFramework/RecorderFramework.modulemap
Example/Pods/Target Support Files/RecorderFramework/RecorderFramework.xcconfig
Example/RecorderFramework.xcworkspace/contents.xcworkspacedata
