<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Others</key>
	<dict>
		<key>com.werockapps.RecorderMacPremium</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>1</integer>
			<key>ConsumableId</key>
			<string>com.werockapps.RecorderMacPremium</string>
		</dict>
		<key>com.werockapps.RecorderMacPro</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>1</integer>
			<key>ConsumableId</key>
			<string>com.werockapps.RecorderMacPro</string>
		</dict>
	</dict>
	<key>SharedSecret</key>
	<string>5e6850747fbc463b919b8c79d9893a46</string>
</dict>
</plist>
