<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>129675069849-8d59453sn8v8hlei9l8c4mdrnfid4gbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129675069849-8d59453sn8v8hlei9l8c4mdrnfid4gbq</string>
	<key>API_KEY</key>
	<string>AIzaSyANGG8J9HjPjbEyWw1jfmU9Cnq23_4r4to</string>
	<key>GCM_SENDER_ID</key>
	<string>129675069849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebluestudio.Recorder</string>
	<key>PROJECT_ID</key>
	<string>recorderios-aa2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>recorderios-aa2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129675069849:ios:3cd828f3101a880b</string>
	<key>DATABASE_URL</key>
	<string>https://recorderios-aa2eb.firebaseio.com</string>
</dict>
</plist>