<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.werockapps.CallRecorderPremium</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>1</integer>
			<key>ConsumableId</key>
			<string>com.werockapps.RecorderPremium</string>
		</dict>
		<key>com.werockapps.CallRecorderPro</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>1</integer>
			<key>ConsumableId</key>
			<string>com.werockapps.RecorderPro</string>
		</dict>
	</dict>
	<key>SharedSecret</key>
	<string>ad4028657563419bbee853bbfae7d106</string>
</dict>
</plist>
